##### Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*



# Log Files
*.log

# XML
*.xml


##### Backup
*.bak
*.gho
*.ori
*.orig
*.tmp



##### Dropbox
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache


##### Notepad++
# Notepad++ backups #
*.bak


# CMake
cmake-build-*/


##### Eclipse
.metadata
bin/
obj/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

docs/.jekyll-cache/
docs/_site/
docs/.sass-cache/
docs/.jekyll-metadata
docs/.bundle/
docs/vendor/

tutorial/reference_panel/
tutorial/chunks.chr22.txt
tutorial/GLIMPSE_ligate/
tutorial/GLIMPSE_impute/
tutorial/GLIMPSE_concordance/
tutorial/bin/
tutorial/*.vcf.gz*

3rd_party/
