html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 70px;
	padding-bottom: 30px;
	margin-bottom: 60px;
	overflow-y:scroll;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

label {
	font-weight: normal !important;
}

img.logo {
	max-width:20%;
	max-height:20%;
}